*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
}

@media screen and (min-width: 800px) {
    
}


h2 {
  font-family: 'Noto Sans Korean',sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

body {
  font-family: 'Noto Sans Korean', sans-serif;
  font-size: 9px;
  line-height: 1.5;
  word-break: keep-all;
  color: black;
  left: 33.33;
  max-width: 600px;
  margin: 10%;
  max-width: 1200px;
}

img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(10px);
}

img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(10px);
}

img.background2 {
  width: 100%;
  height: 200%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(10px);
}

.fix1 { 
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  position: fixed;  
  filter: opacity(95%);
 }

.fix2 { 
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  filter: brightness(130%);
  animation: flicker 2s linear alternate infinite;
}

@keyframes flicker {
  130% {
    filter: brightness(130%);
  }

  100% {
    filter: brightness(100%);
   }
  }

img.title {
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 0px;
}

h6 {
  font-family: 'Noto Sans Korean', sans-serif;
  font-size: 7px;
  line-height: 1.5;
  text-align: right;
}

.column {
  float: left;
  width: 33.33%;
  bottom: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



